{% extends 'base.html.twig' %}

{% block body %}

     <turbo-frame id="messages">
         <h1>{{ article.title }}</h1>

    <article>
        {{ article.content }}
    </article>
     </turbo-frame>


{% endblock %}